header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.left-section {
  /* background-color: lightblue; */
  /* width: 150px; */
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin: 0 24px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  /* Flex:1 tells the flex grow ppty to 1, the flex shrink ppty to 1 and the flex basis to 0, so it grows and shrink when the page is resized. */
  flex: 1;
  /* background-color: lightpink; */
  /* margin-left: 70px;
  margin-right: 35px; */
  max-width: 500px;
  /* this max-width tells the width at which it should stop resizing with the page. So when it is less than 300 it shrinks with the page, then when it reaches the max of 300 it stops resizing and stay fixed to that width. */
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  /* set the width to 0, so that it will remove the default width that search bars have that makes them to stop shrinking once the reach that width. so we set it to 0, overriding that default width so it can shrink */
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button,
.voice-search-button {
  height: 37px;
  width: 66px;
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button,
.voice-search-button,
.upload-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
}
.right-section {
  /* background-color: lightblue; */
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  /* negative numbers set iot beyond the relative element */
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  /* half of the height will make the picture rounded */
  border-radius: 16px;
}
